<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>libraryName</key>
		<string>Freemont Library</string>
		<key>shelvesCount</key>
		<integer>3</integer>
		<key>shelves</key>
		<array>
			<string>Shelf 1</string>
			<string>Shelf 2</string>
			<string>Shelf 3</string>
		</array>
	</dict>
	<dict>
		<key>libraryName</key>
		<string>Ballard Library</string>
		<key>shelvesCount</key>
		<integer>4</integer>
		<key>shelves</key>
		<array>
			<string>Shelf 1</string>
			<string>Shelf 2</string>
			<string>Shelf 3</string>
			<string>Shelf 4</string>
		</array>
	</dict>
	<dict>
		<key>libraryName</key>
		<string>Wedgewood Library</string>
		<key>shelvesCount</key>
		<integer>5</integer>
		<key>shelves</key>
		<array>
			<string>Shelf 1</string>
			<string>Shelf 2</string>
			<string>Shelf 3</string>
			<string>Shelf 4</string>
			<string>Shelf 5</string>
		</array>
	</dict>
	<dict>
		<key>libraryName</key>
		<string>Downtown Library</string>
		<key>shelvesCount</key>
		<integer>6</integer>
		<key>shelves</key>
		<array>
			<string>Shelf 1</string>
			<string>Shelf 2</string>
			<string>Shelf 3</string>
			<string>Shelf 4</string>
			<string>Shelf 5</string>
			<string>Shelf 6</string>
		</array>
	</dict>
</array>
</plist>
